---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialLinks from "../components/SocialLinks.astro";
import { Image } from "astro:assets";
import gkImage from "../assets/images/1705413583742-Photoroom.png";

const pageTitle = "Sobre mim | Gabriel Pires";
const pageDescription = "Gabriel Pires, Mestrando em IA";
const currentPage = "About";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/$/, "");

const ldSchema = {
  "@context": "https://schema.org",
  "@type": "Article",
  url: canonicalUrl,
  datePublished: "2025-01-01",
  dateMofified: new Date().toISOString().split("T")[0],
  headline: pageTitle,
  name: pageTitle,
  description: pageDescription,
  author: {
    "@type": "Person",
    "@id": "https://www.ganesshkumar.com/author/ganesshkumar/#Person",
    name: "Ganessh Kumar",
    url: "https://www.ganesshkumar.com",
    image: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
  publisher: {
    "@type": "Organization",
    "@id": "https://www.ganesshkumar.com",
    name: "Ganessh Kumar",
    logo: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
};
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  currentPage={currentPage}
  ldSchema={ldSchema}
>
  <div class="bg-white dark:bg-gray-800 dark:text-slate-100">
    <div class="flex flex-col h-full max-w-5xl mx-auto overflow-hidden px-4">
      <h1 class="font-bold text-3xl my-2">
        <span class="tracking-wide underline decoration-sky-500 decoration-4 underline-offset-2">
          Quem sou eu?
        </span>
      </h1>
      <div class="flex flex-col md:flex-row items-center md:items-start gap-6 w-full">
        <Image class="w-80 max-w-sm h-80 rounded-full shadow-lg" src={gkImage} alt="profile picture" />
        <div class="w-full">
          <p>
            Me chamo Gabriel Pires, sou formado pela USP e Mestrando em IA pela UNESP e eu sou.
            Eu trabalho no desenvolvimento de modelos de IA para o mercado financeiro, colaborando com a cultura, pesquisa e disseminação de conhecimento.
            Sou apaixonado por resolver problemas e apresentar o impacto de nossas soluções.
          </p>
          <p class="pt-6">
            Uma parte do meu tempo livre passo pesquisando e testando estratégias quantitativas com o uso de IA para a tomada de decisão.
          </p>
          <p class="pt-6">
            Outro grande interesse meu é em disseminar o conhecimento para a comunidade.
            Por isso criei esse site. Quero compartilhar dicas, tutoriais e projetos já desenvolvidos!
          </p>
          <p class="pt-6">
            Redes Sociais: &nbsp;
            <SocialLinks />
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
